<.header>
  New Login
  <:subtitle>Use this form to manage login records in your database.</:subtitle>
</.header>

<.login_form changeset={@changeset} action={~p"/logins"} />

<.back navigate={~p"/logins"}>Back to logins</.back>
